NODE_ENV=development
PORT=3000

DATABASE=
DATABASE_USER=
DATABASE_PASSWORD=
COMMAND=mongosh "mongodb+srv://<cluster>" --apiVersion 1 --username <username>

JWT_SECRET=
JWT_EXPIRES_IN=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=